<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <a routerLink="./home" class="font-bold text-lg">Tryckers</a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" placeholder="Search" />
      </span>

      <!-- Not authenticated -->
      <ng-container *ngIf="authService.authStatus() === 'not-authenticated'">
        <a
          pButton
          routerLink="/auth/login"
          label="Login"
          class="p-button-text"
        ></a>
        <a pButton routerLink="/auth/register" label="Sign Up"></a>
      </ng-container>

      <!-- Authenticated -->
      <ng-container *ngIf="authService.authStatus() === 'authenticated'">
        <p-menu #profileMenu [model]="profileItems" [popup]="true"></p-menu>
        <button
          type="button"
          pButton
          class="p-button-text"
          (click)="profileMenu.toggle($event)"
        >
          <p-avatar
            [image]="authService.user()?.profile_picture || undefined"
            shape="circle"
            size="large"
            icon="pi pi-user"
          />
          <span class="ml-2 hidden md:inline">{{
            authService.user()?.name
          }}</span>
        </button>
      </ng-container>
    </div>
  </ng-template>
</p-menubar>
